/* Add CSS rules here. */
main {
	padding: 70px 20px;
}

img {
	background-color:none;
}

#nav_user {
	text-decoration:none;
	color: white;
}

.insert-item-buttons {
	float: right;
}

.feed-list{
	margin:15px;
}

.feed-card {
	margin:15px;
}