/* Add CSS rules here. */
main {
	padding: 70px 20px;
}

img {
	background-color:none;
}

#nav_user {
	text-decoration:none;
	color: white;
}

.insert-item-buttons {
	float: right;
}

.feed-list{
	margin:15px;
}

.feed-card {
	margin:15px;
	width: 30%;
	height: 400px;
	text-align: center;
}

.comment-section {
	margin-top:20px;
}

#overview {
	width:100%;
	margin: 0 auto;
}

.card-item-image {
	height: 100%;
	width: 100%;
}
.item-name {
	font-size:20px;
	
}
.item-card-image {
	height: 100%;
}
.item-detail-image {
	height: 100%;
	width: 100%;
}

.view-item-button {
	width: 100%;
}

.not-active {
   text-decoration: none;
   color: white;
}

.detail-buttons {
	display: inherit;
}
