<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Rose-Hulman Flea Market</title>
<!-- Material Design Lite -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

<!-- Material Design Lite and jQuery JS -->
<script src="/static/js/jquery-2.2.3.min.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/style.css">

<!-- Custom JS -->
<script src="/static/js/rosefire.js"></script>
<script src="/static/js/main.js"></script>

</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title"><a href="/" class="not-active">Rose-Hulman Flea Market </a></span> {% if
				user_info is defined %}
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" id="liked_list"> Liked </a>
				</nav>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link not-active" href='/posted-items'> Selling </a>
				</nav>
				{% endif %}

				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				{% if user_info is not defined %}
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" id="login"> Login </a>
				</nav>
				{% else %}
				<!-- User has logged in -->
				<nav class="mdl-navigation">
					<a id="nav_user" href="/profile">{{ user_info.name }}</a>
				</nav>

				<!-- Right aligned menu below button -->
				<button id="demo-menu-lower-right"
					class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">more_vert</i>
				</button>

				<ul
					class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					for="demo-menu-lower-right">
					<a class="mdl-menu__item" href="/logout"> Logout </a>
				</ul>
				{% endif %}
			</div>
		</header>
	</div>

	<main> {% block content %}{% endblock %} </main>
</body>

</html>
