<form action="/view-item" method="POST" class="demo-card-square mdl-card mdl-shadow--2dp feed-card mdl-cell mdl-cell--3-col">
	<h2 class="mdl-card__title-text">{{ item.name }}</h2>
	<input name="item_entity_key" class="hidden">{{ item.key.id() }}</input>
  <input type="submit" value="View Details">
</form>


<!-- 	<a href="/view-item/{{ item_entity_key }}" class="demo-card-square mdl-card mdl-shadow--2dp feed-card mdl-cell mdl-cell--3-col">
 -->
 
 		<!-- <div class=" mdl-card__titlemdl-card--expand"> -->
 