<form role="form" action="/view-item" method="POST"
	class="mdl-card mdl-shadow--2dp feed-card mdl-cell mdl-cell--3-col">
    <div class="mdl-card__supporting-text item-card-image">
		<img src="/img/{{ item.media_blob_key }}" alt="image"
			class="card-item-image"
			onerror="this.src='../static/images/no-image.jpg'" />
	</div>
	<div class="mdl-card__supporting-text">
		<span class="item-name">{{ item.name }}</span><br> ${{ item.price
		}}
	</div>
	<hr>
	<div class="mdl-card__titlemdl-card--expand item-card">
		<input name="item-entity-key" class="hidden"
			value={{item.key.urlsafe()}} />
		<button type="submit"
			class="view-item-button mdl-button mdl-js-button">View
			Details</button>
	</div>
</form>